<div class="table-header">
  <mat-form-field class="w-50">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        [placeholder]="filter?.placeholder ?? 'Suchen...'" #filterInput
      />
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="_emptyCol">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element"></mat-cell>
  </ng-container>

  <ng-container matColumnDef="_index">
    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.itemId + 1 }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="_relativeIndex">
    <mat-header-cell *matHeaderCellDef>##</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.relativeIndex + 1 }}</mat-cell>
  </ng-container>

  <ng-container
    *ngFor="let column of columnOrder"
    [matColumnDef]="column.columnDef"
    class="table-item"
  >
    <mat-header-cell
      *matHeaderCellDef
      mat-sort-header
    >
      {{ column.header }}
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{ column.cell(element.data) }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="groupHeader" style="background-color: lightgray;">
    <mat-cell
      *matCellDef="let group"
    >
      <mat-icon>{{ group.isExpanded ? "keyboard_arrow_downwoard" : "keyboard_arrow_right" }}</mat-icon>
      <span>{{ group.name }}</span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumnOrder"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumnOrder;"
    [ngClass]="row.isExpanded ? '' : 'hidden'"
  ></mat-row>

  <mat-row
    mat-ripple
    *matRowDef="let row; columns: ['groupHeader']; when: isGroup"
    (click)="toggleRow(row)"
    style="cursor: pointer; background-color: lightgray;"
    [ngClass]="row.numChildren > 0 ? '' : 'hidden'"
  ></mat-row>
</table>
