<!-- TODO save column order between sessions -->
<div class="table-header">
  <mat-form-field class="w-50">
    <mat-label>Filter</mat-label>
    <input
      matInput
      [placeholder]="filter?.placeholder ?? 'Suchen...'"
      [(ngModel)]="filterValue"
      #filterInput
    />
    <button
      mat-button
      *ngIf="filterValue"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="filterValue = ''"
    >
      <i class="fa-solid fa-x" style="font-size: 0.75rem"></i>
    </button>
  </mat-form-field>
</div>

<!-- TODO make columns resizable -->
<!-- TODO add comments -->
<table
  mat-table
  matSort
  [matSortDisabled]="!dragEnabled ||dragging"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="onDragged($event)"
  [cdkDropListDisabled]="!dragEnabled"
  #table
  [dataSource]="dataSource"
  class="w-100 nh-mat-grouped-table"
>
  <!-- TODO make the empty column work -->
  <!-- Adds an empty column so the group rows are better visible -->
  <!-- <ng-container matColumnDef="_emptyCol">
    <mat-header-cell *matHeaderCellDef>Empty</mat-header-cell>
    <mat-cell *matCellDef="let element">Sehr empty</mat-cell>
  </ng-container>

  <ng-container matColumnDef="_index">
    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.globalDataItemIndex + 1 }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="_relativeIndex">
    <mat-header-cell *matHeaderCellDef>##</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.relativeGroupItemIndex + 1 }}</mat-cell>
  </ng-container> -->

  <ng-container
    *ngFor="let column of columnOrder; let colIndex = index"
    [matColumnDef]="column.columnDef"
  >
    <th
      mat-header-cell
      mat-sort-header
      *matHeaderCellDef
      cdkDrag
      (cdkDragStarted)="dragging = true"
      (cdkDragEnded)="dragging = false"
      [disabled]="dragging"
      class="border ps-3 mat-header-cell"
      columnResizing
      [columnResizeIndex]="colIndex"
      [initialColumnWidth]="column.width ?? null"
      (resizedColumnSize)="onResizedColumnSize(colIndex, $event)"
      (resizeClicked)="onResizeClicked($event)"
    >
    <!-- <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      (cdkDragStarted)="dragging = true"
      (cdkDragEnded)="dragging = false"
      [disabled]="dragging"
      class="border ps-3 mat-header-cell"
      [resizeColumn]="true"
      [index]="colIndex"
    > -->
      <span>{{ column.header }}</span>
    </th>
    <!-- TODO fix sorting (and probably filtering) with the newly added rowspan feature -->
    <td
      mat-cell
      *matCellDef="let element; let rowIndex = index"
      class="border ps-3 mat-cell"
      [attr.rowspan]="setRowspan(element, column)"
      [ngClass]="setVisibilityIfRowspan(rowIndex, column.columnDef)"
    >
      {{
        element.data[column.columnDef].value ??
          element.data[column.columnDef] ??
          ""
      }}
    </td>
  </ng-container>

  <ng-container matColumnDef="groupHeader">
    <td
      mat-cell
      *matCellDef="let group"
      matRipple
      [matRippleCentered]="true"
      [attr.colspan]="columnOrder.length"
    >
      <div class="d-flex gap-2">
        <i
          class="fas"
          [ngClass]="group.isExpanded ? 'fa-caret-down' : 'fa-caret-right'"
          style="width: 1rem; height: 1rem"
        ></i>
        <div>{{ group.name }}</div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnOrder" class="mat-header-row"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumnOrder"
    [ngClass]="
      (row.isExpanded ? '' : 'd-none') + (!row.selected ? '' : ' bg-light')
    "
    (click)="onRowClicked(row.globalIndex)"
    (dblclick)="onRowClicked(row.globalIndex, true)"
    class="data-item-row"
  ></tr>

  <tr
    mat-row
    *matRowDef="let row; columns: ['groupHeader']; when: isGroup"
    (click)="toggleRow(row)"
    class="user-select-none group-item-row border-start border-end"
  ></tr>
</table>
